<div class="container">
    <mat-card class="example-card" *ngFor="let book of books$ | async">
          <mat-card-title>{{ book.title  | slice:0:10 }}</mat-card-title>
            <a href="{{ book.detailsUrl }}">
              <img class="image" mat-card-image src="{{ book.imageUrl }}">
            </a>
        <mat-card-actions>
          <button mat-fab extended  [style.color]="book.isFavorite? 'red' : 'white'" color="primary"
              (click)="addFavorite(book)"><mat-icon>favorite</mat-icon>Favorite</button>
        </mat-card-actions> 
    </mat-card>      
</div>
