<mat-grid-list cols="8" rowHeight="400">
  <mat-grid-tile *ngFor="let result of results">

      <mat-card class="example-card">
        <a href="{{ result.detailsUrl }}">
        <mat-card-header>
          <mat-card-title class="titleText">{{ result.title | slice:0:10 }}</mat-card-title>
        </mat-card-header>
          <img mat-card-image class="bookImage" src="{{ result.imageUrl }}"></a>
        <mat-card-actions>
          <button mat-icon-button  (click)="addFavorite(result)">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    
  </mat-grid-tile>
</mat-grid-list>
